/* Elements */
input{
  border-radius: 10px;
  /* text-align: center; */
}

/* Classes */
.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  color:white;
}
.App-header {
  /* where the stuff used to be */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-link {
  color: #61dafb;
}
.borderBox{
  border: white solid 5px;
  border-radius: 10px;
}
.nav-link{
  float:right;
}
.showPassLabel{
  padding-left: 20px;
}
.card{
  color:black;
  margin: 0px 10%;
}
.addLeftBorder{
  border-left: solid 1px gray;
}
.giveBackgroundColor{
  background-color: #282c34;
  border: solid 1px white;
  border-radius: 25px;
}
.addTopBorder{
  border-top: solid 1px gray;
}
.addRightBorder{
  border-right: solid 1px gray;
}
.addLeftBorder{
  border-left: solid 1px gray;
}
.addBottomBorder{
  border-bottom: solid 1px gray;
}
.floatRight{
  float: right;
}
.floatLeft{
  float: left;
}
.margins10Per{
  margin: 10%;
}

/* IDs */
#loginForm{
  margin: 0px 25%;
}
#emptyAboveLogin{
  height: 25vh;
}
#welcomeHead{
  font-size: 3rem;
}
#newPassCheck,#newPassConfCheck{
  margin-left: 0px;
}
#backgroundDiv{
  background-image: url('https://cdn11.bigcommerce.com/s-3d7tts/images/stencil/2048x2048/products/137/427/il_fullxfull.1409565417_pttb__94219.1528759451.jpg?c=2') ;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#loginPage{
  margin:auto 15%;
}
