/* Elements */
input{
  border-radius: 10px;
  /* text-align: center; */
}
/* Classes */
.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  color:white;
}
/* where the stuff used to be */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-link {
  color: #61dafb;
}
.borderBox{
  border: white solid 5px;
  border-radius: 10px;
}
.nav-link{
  float:right;
}

/* IDs */
#loginForm{
  margin: 0px 25%;
}
#emptyAboveLogin{
  height: 10vh;
}
#welcomeHead{
  font-size: 3.5rem;
}